
/*
  Estilização geral do documento
*/
body {
  background-color:grey;
  font-family: 'Baloo Bhaina 2', sans-serif;
}

#conteudo {
  background-color: white;
  border-radius: 15px;
  margin: 1%;
  padding: 2%;
}


#titulo {
  text-align: center;
  font-size: 250%;
  font-family: 'Oxygen', sans-serif;
  margin-bottom: -5%;
  margin-top: -2%;
}


#titulo img{
  height: 1em;
  vertical-align: sub;
}

#titulo h2 {
  font-family: 'Poiret One', sans-serif;
  transform: translateX(10%) translateY(-100%);
}

h3 {
  background-color: rgba(88, 138, 131, 0.5);
  padding: 15px 20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
}
/*
  Estilização da barra de navegação
*/

#navbar {
  display: flex;
  background-color: rgb(4, 37, 58);
  padding: 20px 20px;
  justify-content: space-around;
  align-items: center;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  font-size: 150%;
}

.navlinks {
  text-decoration: none;
  padding: 20px 20px;
  color: white;
  text-align: center;
}

.navlinks:hover {
  background-color: rgb(80, 113, 156);
  color: white;
}

/*
  Fim estilização da barra de navegação

  Fim da estilização geral
*/


/*
  Estilização do conteudo da home
*/

#corpo {
  display: grid;
  grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
  gap: 10px;
}

.noticia {
  background-color: rgb(225, 221, 191);
  border-radius: 10px;
  margin-top: 10px;

}

.noticia-conteudo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2%;
}
.noticia-conteudo a{

  color: black;
  font-weight: bold;
}

.noticia-conteudo a:hover{
  border-radius: 5px;
  color: rgb(78, 116, 167);
}

.noticia-conteudo article {
  padding: 2%;
}

.noticia img{
  width: 30%;
  border-radius: 10px;
}

.noticia iframe {
  border-radius: 10px;
}

/*
  Fim estilização do conteudo da home

  Estilização do conteudo do sobre
*/

#sobre {
  background-color: rgb(225, 221, 191);
  border-radius: 10px;
  margin-top: 10px;
}

#sobre h3 {
  text-align: center;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

#sobre-div {
  display: flex;
  align-items: center;
}

#foto-perfil {
  width: 600px;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
  float: left;
  margin: 3%;
}

#sobre-links{
  display: inline-flex;
}

.social-image {
  width: 30px;
  padding: 10%;
  margin: 10%;
}

/*
  Fim estilização do conteudo do sobre

  Estilização do conteudo do contato
*/

#contato h2{
  text-align: center;
}

#form-contato {
  background-color: rgb(225, 221, 191);
  border-radius: 10px;
  padding: 3% 5% 3% 5%;
}

#form-contato input{
  outline: none;
}

#form-contato input[type=text], #form-contato input[type=email] {
  width: 100%;
  padding: 10px 10px;
  margin: 8px 0;
  box-sizing: border-box;
}

#form-contato input[type=submit], #form-contato input[type=reset] {
  background-color: rgb(4, 37, 58);
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}

#form-contato input[type=submit]:hover, #form-contato input[type=reset]:hover {
  background-color: rgb(80, 113, 156);
} 

#form-contato input[type=text]:focus, #form-contato input[type=email]:focus {
  border: 3px solid #555;
}

#form-contato textarea {
  width: 100%;
  outline: none;
  padding: 10px 10px;
  margin: 8px 0;
  box-sizing: border-box;
  resize: none;
  border: 1px solid rgb(202, 202, 202);
}
#form-contato textarea:focus {
  border: 3px solid #555;
}

/*
  Fim estilização do conteudo do contato

  Estilização do conteudo do saiba mais
*/



#saibamais {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-evenly;
  align-content: center;
}

.links-div{
  display: flex;
  flex-direction: column;
  background-color: rgb(225, 221, 191);
  border-radius: 10px;
  text-align: left;
  margin-top: 10px;
}

.links-div a{
  text-decoration: none;
  padding: 15px 15px;
  text-align: left;
  color: black;
  margin: 2%;
}

.links-div a:hover{
  background-color: rgba(80, 113, 156, 0.5);
  border-radius: 10px;
}

#outras-infos {
  margin-left: 20px;
  text-align: right;
}

#outras-infos a{
  text-align: right;
}

/* Fim da estilização do saiba mais */